Repository R1tschY/sailfishos-conan: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486, libssh armv7hl, libssh i486

kcoreaddons armv7hl:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: armv7hl
    EXTRA_DEPS: '''extra-cmake-modules'' ''pkgconfig(Qt5Test)'''
  script:
  - dev/buildenv $ARCH python ci_build.py kcoreaddons

kcoreaddons i486:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: i486
    EXTRA_DEPS: '''extra-cmake-modules'' ''pkgconfig(Qt5Test)'''
  script:
  - dev/buildenv $ARCH python ci_build.py kcoreaddons

ki18n armv7hl:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: armv7hl
    EXTRA_DEPS: '''extra-cmake-modules'' ''pkgconfig(Qt5Test)'' ''pkgconfig(Qt5Script)'' ''gettext-devel'''
  script:
  - dev/buildenv $ARCH python ci_build.py ki18n

ki18n i486:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: i486
    EXTRA_DEPS: '''extra-cmake-modules'' ''pkgconfig(Qt5Test)'' ''pkgconfig(Qt5Script)'' ''gettext-devel'''
  script:
  - dev/buildenv $ARCH python ci_build.py ki18n

libssh armv7hl:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: armv7hl
    EXTRA_DEPS: '''pkgconfig(openssl)'''
  script:
  - dev/buildenv $ARCH python ci_build.py libssh

libssh i486:
  image: coderus/sailfishos-platform-sdk:latest
  variables:
    ARCH: i486
    EXTRA_DEPS: '''pkgconfig(openssl)'''
  script:
  - dev/buildenv $ARCH python ci_build.py libssh

CI: Try to fix build
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Compile examples with C++11
  kcoreaddons/test_package/CMakeLists.txt
  ki18n/test_package/CMakeLists.txt
  libssh/test_package/CMakeLists.txt
Due: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486, libssh armv7hl, libssh i486

use smaller docker images
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Added KConfig
  .gitignore
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
  kconfig/conanfile.py
  kconfig/test_package/CMakeLists.txt
  kconfig/test_package/conanfile.py
  kconfig/test_package/example.cpp
Due: none

Added QCA
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
  qca/conanfile.py
  qca/test_package/CMakeLists.txt
  qca/test_package/conanfile.py
  qca/test_package/example.cpp
Due: none

Fix CI
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Install git for QCA
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Link againt QCA openssl plugin
  qca/conanfile.py
Due: none

Missing linking against openssl
  qca/conanfile.py
  qca/test_package/example.cpp
Due: none

Corrected package names
  kconfig/conanfile.py
  kconfig/test_package/CMakeLists.txt
  kconfig/test_package/conanfile.py
  kcoreaddons/conanfile.py
  kcoreaddons/test_package/CMakeLists.txt
  kcoreaddons/test_package/conanfile.py
  kf5build/conanfile.py
  ki18n/conanfile.py
  ki18n/test_package/CMakeLists.txt
  ki18n/test_package/conanfile.py
  qca/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486

Fix test of QCA
  qca/test_package/CMakeLists.txt
Due: none

Extra CMake modules packaged
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
  extra-cmake-modules/conanfile.py
  extra-cmake-modules/test_package/CMakeLists.txt
  extra-cmake-modules/test_package/conanfile.py
  kconfig/conanfile.py
  kcoreaddons/conanfile.py
  ki18n/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486

CI stages
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

CI stages
  .gitlab-ci.yml
Due: none

CI: Build deps stage
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Distribute CMake package config
  kconfig/conanfile.py
  kcoreaddons/conanfile.py
  kf5build/conanfile.py
  ki18n/conanfile.py
  qca/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486

Distribute cmake package config
  kcoreaddons/test_package/CMakeLists.txt
  kcoreaddons/test_package/conanfile.py
  kf5build/conanfile.py
  qca/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486

Distribute cmake package config
  kf5build/conanfile.py
Due: none

Submodules concept
  kconfig/conanfile.py
  kconfig/test_package/CMakeLists.txt
  kcoreaddons/test_package/CMakeLists.txt
  kf5build/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486

Pin docker image to sf version
  .gitlab-ci.yml
  dev/update-gitlab-ci.py
Due: none

Qca: include relative to prefix. cmake package config is broken.
  qca/conanfile.py
Due: none

Build also shared libs
  ci_build.py
Due: none

CI: Build shared libs
  ci_build.py
Due: none

Do not build tests for KF5
  kf5build/conanfile.py
Due: none

Use RelWithDebInfo config for building
  ci_build.py
  dev/profiles/armv7hl
  dev/profiles/i486
Due: none

Shared libs for QCA
  ci_build.py
  qca/conanfile.py
  qca/test_package/CMakeLists.txt
  qca/test_package/conanfile.py
  qca/test_package/example.cpp
Due: none

Upgrade extra-cmake-modules to 5.68.0
  extra-cmake-modules/conanfile.py
Due: none

Upgrade extra-cmake-modules to 5.68.0
  kcoreaddons/conanfile.py
  ki18n/conanfile.py
Due: kcoreaddons armv7hl, kcoreaddons i486, ki18n armv7hl, ki18n i486

Upgrade extra-cmake-modules to 5.68.0
  kconfig/conanfile.py
Due: none

Build for SFOS 4
  .gitlab-ci.yml
  dev/profiles/armv7hl
  dev/profiles/i486
Due: none

Install pip
  .gitlab-ci.yml
  dev/commands/prepare-buildenv
Due: none

Downgrade to 3.4.0.24
  .gitlab-ci.yml
Due: none

Path conditions:
  kcoreaddons armv7hl: any of: kcoreaddons/**/*
  kcoreaddons i486: any of: kcoreaddons/**/*
  ki18n armv7hl: any of: ki18n/**/*
  ki18n i486: any of: ki18n/**/*
  libssh armv7hl: any of: libssh/**/*
  libssh i486: any of: libssh/**/*
